// Primary palette
$color-white: #fff;
$color-black: #000;
$color-light-gray: #ccc;
$color-gray: #666;
$color-border: #333;
$color-black-border: #131b1f;
$color-background: #000208;

// Brand colors
$color-purple-main: #8f3bfd;
$color-purple-dark: #6f3bd9;
$color-purple-hover: #a566ff;

// Input
$color-input-bg: #1f1f2e;

// Button variants
$color-blue: #6700E4;
$color-blue-light: dodgerblue;
$color-gray-light: #e7e7e7;
$color-black-light: #0d1316;
