@mixin headingFont {
  font-family: 'Nunito Sans', Arial, sans-serif;
}

@mixin bodyFont {
  font-family: 'Lato', Helvetica, sans-serif;
}

// _typography.scss
body {
  font-family: $font-main;
  color: $color-white;
  background-color: $color-background;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
}

.main__title {
  font-size: 28px;
  margin-bottom: 10px;
}

.main__subtitle {
  font-size: 14px;
  color: $color-light-gray;
}

.form-box__label {
  font-size: 14px;
}

.form-box__link {
  font-size: 13px;
}
