// _variables.scss
$max-container-width: 1200px;

$font-main: 'Wix Madefor Display', sans-serif;
$font-handwritten: 'Caveat', cursive;

$radius-small: 4px;
$radius-medium: 6px;
$radius-large: 8px;

$padding-base: 20px;
$gap-base: 20px;
