


[dir="rtl"] .form-box__button i,
[dir="rtl"] .register__button i {
  transform: rotate(180deg);
  margin-right: 8px;
  margin-left: 0 !important;
}

[dir="rtl"] .navbar__container,
[dir="rtl"] .footer__container {
  direction: rtl;
}